[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
tox = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-mypy = ">=0.4.0"
coverage = "*"
codacy-coverage = "*"
codecov = "*"
mypy = "*"
setuptools = "*"
urllib3 = ">=1.24.2"

[packages]

[requires]
python_version = "3.7"
