[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
tox = "*"
pytest-cov = "*"
pytest-xdist = "*"
pytest-mypy = "*"
coverage = "*"
codecov = "*"
mypy = "*"

[packages]

[requires]
python_version = "3.7"
